:root {
    --background-black: #0000007a;
    --background-color2: #008dcfaa;
    --background-color: #008ecf;
    --sdf: #ff7139;
    --sdfe: #00a6d2;
    --sdfa: #006381;

    --white: #f8f8f8;
    --color: #fafafa;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: "NanumSquareRound";
}
a {
    color: initial;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
#wrap {
    position: relative;
    width: 100%;
    height: 100%;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10rem;
    z-index: 10;
    background-color: var(--white);
}
#nav {
    width: 14rem;
    height: 6rem;
    margin-left: 3rem;
    justify-content: start !important;
}
#nav > img {
    width: 5rem;
    height: 5rem;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo > a > img {
    width: 9rem;
    height: 9rem;
}
#loginBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 6rem;
    border-radius: 4rem;
    margin-right: 3rem;
    background-color: var(--background-color);
}
#logBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3rem;
    width: 14rem;
}
.circle9 {
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    background-color: var(--background-color);
}
#loginBtn > a {
    font-size: 2rem;
    color: var(--color);
    font-weight: 500;
}
#gnb {
    position: absolute;
    top: 10rem;
    width: 30rem;
    height: 100%;
    transition: all 1s;
    margin-left: 0rem;
    background-color: var(--background-color2);
    z-index: 10;
}
.gnb_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#gnb > li,
#infoGnb > li {
    margin-top: 3rem;
}
#gnb > li > a,
#infoGnb > li > a {
    color: var(--color);
    font-size: 3rem;
}
#infoGnb {
    position: absolute;
    right: 5rem;
    width: 30rem;
    height: 30rem;
    transition: all 1s;
    background-color: var(--background-black);
    z-index: 10;
}

#wrap > .off {
    margin-left: -52rem;
    opacity: 0;
    transition: all 1s;
}
.off2 {
    transform: scale(0.1);
    transition: all 1s;
    opacity: 0;
}
.off3 {
    width: 0.01rem !important;
    transition: all 0.5s;
    opacity: 0;
}
#search {
    position: absolute;
    right: 20rem;
    width: 20rem;
    height: 3rem;
    border: none;
    border-bottom: 0.2rem solid var(--sdf);
    background-color: var(--white);
    transition: all 0.5s;
    font-size: 2rem;
}
.userPicSize {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#searchBtn {
    background-image: url(/img/search2.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}
#searchBtn:hover {
    background-position: 50% 15%;
}
.deg {
    transform: rotate(180deg);
    transition: all 1s;
}
.deg2 {
    transform: rotate(0);
    transition: all 1s;
}

@font-face {
    font-family: "NanumSquareRound";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
