:root {
    --background-color: #0000007a;
    --sdf: #ff7139;
    --sdfe: #00a6d2;
    --sdfa: #006381;
    --haze: #f8f8f803;
    --white: #f8f8f860;
    --whitehover: rgba(250, 235, 215, 0.532);
    --btnColor: #be8962;
    /* --white2: rgba(21, 21, 21, 0.49); */
    --color: #fafafa;
}
.font-color {
    color: var(--color);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(/img/background1920_2.jpg);
}
html {
    font-size: 62.5%;
    font-family: "SeoulNamsanC";
    font-weight: 700;
    color: #333;
}
a {
    color: initial;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
#wrap {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--haze);
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10rem;
    z-index: 10;
    /* background-color: var(--white2); */
}
#nav {
    width: 14rem;
    height: 6rem;
    margin-left: 3rem;
    justify-content: start !important;
}
#nav > img {
    width: 8rem;
    height: 8rem;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo > a > img {
    width: 9rem;
    height: 9rem;
}
#loginBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 6rem;
    border-radius: 4rem;
    margin-right: 3rem;
    background-color: var(--background-color);
}
#logBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3rem;
    width: 14rem;
}
#line {
    width: 19rem;
    border-top: 0.1rem solid var(--white);
}
.circle9 {
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
}
#userInfo {
    background-color: #0000009f;
}
#loginBtn > a {
    font-size: 2rem;
    color: var(--color);
    font-weight: 500;
}
#gnb {
    position: absolute;
    top: 10rem;
    width: 30rem;
    height: fit-content;
    padding: 3rem;
    transition: all 1s;
    margin-left: 0rem;
    background-color: var(--background-color);
    z-index: 10;
    border-radius: 0 3rem 3rem 0;
}
.gnb_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#infoGnb > li {
    margin-top: 3rem;
}
#gnb > li > a,
#infoGnb > li > a {
    color: var(--color);
    font-size: 2.4rem;
}
#infoGnb {
    position: absolute;
    right: 5rem;
    width: fit-content;
    height: fit-content;
    transition: all 1s;
    background-color: var(--background-color);
    z-index: 10;
    padding: 3rem;
}

#wrap > .off {
    margin-left: -52rem;
    opacity: 0;
    transition: all 1s;
}
.off2 {
    transform: scale(0.1);
    transition: all 1s;
    opacity: 0;
}
.off3 {
    width: 0.01rem !important;
    transition: all 0.5s;
    opacity: 0;
}
#search {
    position: absolute;
    right: 20rem;
    top: 3rem;
    width: 20rem;
    height: 5rem;
    border: none;
    border-bottom: 0.2rem solid var(--sdf);
    background-color: #00000030;
    transition: all 0.5s;
    font-size: 4rem;
    color: var(--color);
}
.userPicSize {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#searchBtn {
    background-image: url(/img/search2.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}
#searchBtn:hover {
    background-position: 50% 15%;
}
.deg {
    transform: rotate(180deg);
    transition: all 1s;
}
.deg2 {
    transform: rotate(0);
    transition: all 1s;
}
.gnb-h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.gnb-h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 67%;
    border-bottom: 0.1rem var(--white2) solid;
}
.hotUser-subject > div > span,
.gnb-h3 > a:nth-child(1) {
    text-align: right;
    font-size: 1.8rem;
}
.hotUser-subject > div > div > span,
.gnb-h3 > a:nth-child(2) {
    text-align: right;
    font-size: 1.6rem;
}
.hotPost {
    margin: 5rem 0.5rem 0.5rem 0.5rem;
}
.font-h2 {
    font-size: 2.4rem;
}
.hotPost-pic {
    background-color: #000000ae;
    width: 7.5rem;
    height: 6rem;
    margin: 0.5rem;
    padding: 0.5rem;
}
.flex {
    display: flex;
    width: 100%;
    margin: 0.5rem;
    justify-content: space-between;
}
.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.best-user-pic {
    width: 6rem;
    height: 6rem;
    border-radius: 3rem;
    margin-left: 1.5rem;
    background-color: pink;
}
.hotUser-subject {
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    border-bottom: 0.1rem var(--white2) solid;
}
