{% extends 'layout/layout.html'%} {% block css %}
<link rel="stylesheet" href="/css/management.css" />
{% endblock %} {% block content %}
<div id="search_Wrap">
    <div id="search_result" class="flex">사이트 관리페이지 입니다.</div>
    <div id="resultBody">
        <div class="searchBox">
            <span id="userSearch" class="searchHeader flex">유저 정보
                <span> 총 {{userCount}} 의 유저가 존재합니다.</span>
            </span>
            <div class="table">
                <ul class="tableHeader flex">
                    <li>번호</li>
                    <li>아이디</li>
                    <li>닉네임</li>
                    <li>게시글</li>
                    <li>포인트</li>
                </ul>
                {% for item in userValue %}
                <ul class="tableContent flex">
                    <li>{{loop.index}}</li>
                    <li><a href="#">{{item.userId}}</a></li>
                    <li>{{item.nickName}}</li>
                    <li>{{item.userBoard}}</li>
                    <li>{{item.userPoint}}</li>
                </ul>
                {% endfor %}
            </div>
        </div>
        <div class="searchBox">
            <span id="boardSearch" class="searchHeader flex">게시판 관리
                <span> 총 {{boardCount}} 개의 게시물이 표시됩니다.</span>
            </span>
            <div class="table">
                <ul class="tableHeader flex">
                    <li>게시글 번호</li>
                    <li>게시글 제목</li>
                    <li>작성자</li>
                    <li>작성일</li>
                    <li>추천수</li>
                    <li>글내리기</li>
                </ul>
                {% for item in data1 %}
                <ul class="tableContent flex">
                    <li>{{loop.index}}</li>
                    <li><a href="#">{{item.subject}}</a></li>
                    <li>{{item.userId}}</li>
                    <li>{{item.createdAt}}</li>
                    <li>{{item.liked}}</li>
                    <li><a href="#">글내리기</a></li>
                </ul>
                {% endfor %}
            </div>
        </div>
        <div class="searchBox">
            <span id="boardSearch" class="searchHeader flex">카테고리 정보
                <span> 총 {{categoryCount}} 개의 카테고리가 존재합니다. </span>
            </span>
            <div class="table">
                <ul class="tableHeader flex">
                    <li>유형</li>
                    <li>카테고리 번호</li>
                    <li>카테고리 명</li>
                </ul>
                {% for item in data1 %}
                <ul class="tableContent flex">
                    <li>{{loop.index}}</li>
                    <li><a href="#">{{item.mainCd}}</a></li>
                    <li>{{item.subCd}}</li>
                    <li>{{item.name}}</li>
                </ul>
                {% endfor %}
            </div>
        </div>
        <div class="searchBox">
            <span id="boardSearch" class="searchHeader flex">통계
                <span> 홈페이지 통계 정보</span>
            </span>
            <div class="table">
                <ul class="tableHeader flex">
                    <li id="dailyGraph">일자별 통계</li>
                    <li id="TimeGraph">시간대 통계</li>
                    <li id="likedGraph">좋아요 통계</li>
                    <li id="hashtagGraph">해시태그 통계</li>
                    <li id="likedByGenderGraph">성별 좋아요 통계</li>
                </ul>
                
                <div class="graph" id="chart">
                    <div class="bar" style="height: 120px; left: 0px;"></div>
                    <div class="bar" style="height: 80px; left: 80px;"></div>
                    <div class="bar" style="height: 160px; left: 160px;"></div>
                    <div class="bar" style="height: 40px; left: 240px;"></div>
                    <div class="bar" style="height: 100px; left: 320px;"></div>
		            <div class="x-axis">
                        <div class="x-label">2023-01-01</div>
                        <div class="x-label">Jan 2</div>
                        <div class="x-label">Jan 3</div>
                        <div class="x-label">Jan 4</div>
                        <div class="x-label">Jan 5</div>
                    </div>
	            	<div class="y-axis">
                        <div class="y-label">200</div>
                        <div class="y-label">150</div>
                        <div class="y-label">100</div>
                        <div class="y-label">50</div>
                        <div class="y-label">0</div>
                        </div>
                    </div>
            
            </div>
        </div>
    </div>
</div> 
<script type="text/javascript" src="/js/management.js"></script>
{% endblock %}