<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="/css/root.css" />
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        {% block css %} {% endblock %}
    </head>
    <body>
        <div id="wrap">
            <div id="header">
                <div id="nav" class="flex-center">
                    <img src="/img/nav.png" class="deg2" />
                </div>
                <div id="logo">
                    <a href="/">
                        <img src="/img/logo.png" />
                    </a>
                </div>
                {% if userid %}
                <div id="logBtn">
                    <div class="circle9">
                        <a href="#"></a>
                    </div>
                    <div class="circle9">
                        <a href="#"></a>
                    </div>
                </div>
                {% else %}
                <div id="loginBtn">
                    <a href="/user/login">시작하기</a>
                </div>
                {% endif %}
            </div>
            <ul id="gnb" class="off">
                <li><a href="#">공지사항</a></li>
                <li><a href="#">자유게시판</a></li>
                <li><a href="#">게시판2</a></li>
                <li><a href="#">Q&A</a></li>
            </ul>
            {% block content %} {% endblock %}
        </div>
        <script src="/js/root.js"></script>
    </body>
</html>
