{% extends 'layout/layout.html'%} {% block css %}
<link rel="stylesheet" href="/css/list.css" />
{% endblock %} {% block content %}
<div id="viewWrap">
    <div>
        <div id="boardHeader" class="flex-center"></div>
        <div id="subCategory" class="flex-justi-center">
            {% set subCategory = ['sub1','sub2','sub3'] %} {% for item in subCategory %}
            <li class="flex-center">{{item}}</li>
            {% endfor %}
        </div>

        <div class="flex-justi-center flex-column">
            {% set boardlist = [{subject:"123",sub2:123},{sub1:123,sub2:123},{sub1:123,sub2:123},123,123] %} {% for item in boardlist %}
            <div id="contentBox">
                <div id="conImage" class="flex-center">
                    <div id="contentImg">img</div>
                </div>
                <div id="contentSub">
                    <ul id="subject">
                        <a href="#">제목 : {{subject}}</a>
                    </ul>
                    <ul id="subjectBtm">
                        <li id="writer">작성자 : {{userId}}</li>
                        <li id="register">작성일 :</li>
                    </ul>
                </div>
                <div id="liked">
                    <img src="/img/liked.png" alt="" />
                    <div id="contentLiked">추천수 :12 {{liked.length}}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="boardNav" class="flex">
            <form id="searchBar" method="get" action="#" class="boardBtn flex">
                <div></div>
                <div><input type="text" /></div>
                <button type="submit">검색</button>
            </form>
            <div id="pageNav">
                <ul id="pageBtn" class="flex boardBtn">
                    <li>◀️</li>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>▶️</li>
                </ul>
            </div>
            <div id="writeBtn" class="boardBtn">
                <div class="flex-center">
                    <a href="/write"> 글쓰기 </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/list.js" type="text/javascript"></script>

{% endblock %}
