{% extends 'layout/layout.html'%} {% block css %}
<br />
<link rel="stylesheet" href="/css/board.view.css" />
{% endblock %}
<br />
{% extends 'layout/layout.html'%} {% block content %}
<div id="container">
    <div id="subject">{Subject}</div>
    <div id="writerTime">
        <span id="writer">{Writer}</span>
        <span id="Timestamp">
            <span id="updatedTime">{createdTime}</span>
            <span id="updatedTime">{updatedTime}</span>
        </span>
    </div>
    <div id="content">
        <p>htgytdfjhyfdkjhyfgk</p>
        <p>vaweㅍㅁㅈㄷf</p>
        <p>
            <strong>awefwaefawvc<img src="wefwef" /></strong>
        </p>
    </div>
    <div id="tags">1</div>
</div>
{% endblock %}
