<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Write</title>
        <link rel="stylesheet" href="../../public/css/write.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css" />
        <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    </head>
    <body>
        <h2>Write</h2>
        <form method="post">
            <div id="editor"></div>
            <div id="contents"></div>
            <button type="submit">제출</button>
        </form>
        <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
        <script type="text/javascript" src="../../public/js/write.js"></script>
    </body>
</html>
