
{% extends 'layout/layout.html'%} {% block css %}
<link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/default.min.css">
<link rel="stylesheet" href="/css/write.css" />
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/super-build/ckeditor.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
<!-- <script src="path/to/Base64UploaderPlugin.js"></script> -->
{% endblock %}
<br />
{% extends 'layout/layout.html'%} {% block content %}
<div id="contentArea">
    <form action="">
        <div><input type="text" name="writer" id="writer" value="123" readonly hidden></div>
        <div id="subjectBack"><input type="text" name="subject" id="subject" placeholder="제목을 입력하세요"></div>
        <div id="container">
            <div id="editor"></div>
        </div>
        <div id="hashTag">
            <input name='tags-outside' class='tagify--outside' placeholder='해시태그를 입력해주세요. 입력가능한 최대 태그수는 5개입니다.'>
        </div>
        <div id="BtnArea">
            <button style="margin: 0.9rem 0 2rem 0" type="button" id="CancelBtn">🔚 돌아가기</button>
            <button style="margin: 0.9rem 0 2rem 0" type="submit" id="SubmitBtn">작성하기</button>
        </div>
    </form>
</div>
<script src="/js/write.js" type="text/javascript"></script>
{% endblock %}